---
import SideMenu from "../components/SideMenu.astro";
import FilterMenu from "../components/FilterMenu.astro";
import ExerciseCard from '../components/ExerciseCard.tsx';
import Search from '../components/Search.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Simple train tracker for gym"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>gym-buddy</title>
  <body class="bg-black">
    <div class="relative h-screen p-2 gap-3 flex items-stretch">
      <div class="w-[350px] flex-col hidden lg:flex overflow-y-auto">
        <SideMenu />  
      </div>
      <div class="rounded-lg bg-zinc-900 flex-1 mx-auto overflow-y-auto scrollbar-hide">
        <div class="flex flex-col items-center justify-center">
          <div class="w-full sm:w-1/2 lg:w-1/2 mt-10 ml-4">
            <div class="w-90 justify-center mx-auto">
              <Search/>
            </div>
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-7 ml-5 mt-10 mb-10">
          <ExerciseCard />
          </div>
        </div>
      </div>
      <div class="w-[350px] flex-col hidden lg:flex overflow-y-auto">
        <FilterMenu />
      </div>
    </div>
  </body>
</html>