---
import ExerciseCard from '../components/ExerciseCard.astro';
import { exerciseData } from '../lib/Exercises';

---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body class="ml-6">
		<div class="flex flex-wrap mt-6 gap-5">
			{exerciseData.map((exercise) => <ExerciseCard exercise={exercise} />)}	
		</div>
	</body>
</html>
