---
import ExerciseCard from '../components/ExerciseCard.astro';
import { exerciseData } from '../lib/Exercises';
import Layout from "../layout/mainLayout.astro";
import Search from '../components/Search.astro';

---

<Layout title="Exercises">
	<div class="flex flex-col items-center justify-center">
		<div class="w-full sm:w-1/2 lg:w-1/2 mt-10 ml-4">
			<div class="w-90 justify-center mx-auto">
				<Search/>
			</div>
		</div>
	  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-7 ml-5 mt-10 mb-10">
		{exerciseData.map((exercise) => <ExerciseCard exercise={exercise} />)}  
	  </div>
	</div>
  </Layout>

