---
import type {Exercises} from "../types/ExerciseType.ts";

interface Props {
    exercise : Exercises;
}

const {exercise} = Astro.props;

---

<div class="link-card">
    <div class="w-full flex items-center px-4 py-6 bg-white-800 bg-gradient-to-r from-white-900 to-white-800 rounded-lg shadow-md hover:bg-gradient-to-r hover:from-blue-500 hover:to-blue-400 hover:bg-gray-900 hover:text-blue-50 hover:shadow-lg transition-transform duration-500 transform hover:scale-105">
        <h2 class="text-xl font-semibold text-black">
            {exercise.name}
        </h2>
        <img src={exercise.icon} class="w-6 h-6 ml-2" />
    </div>
</div>