---
import type {Exercises} from "../types/ExerciseType.ts";
import IconButton from '@mui/material/IconButton';
import { PlusIcon, EllipsisHorizontalIcon } from '@heroicons/react/24/solid'
import { useEffect } from "react";
import './Card.css'

interface Props {
    exercise : Exercises;
}

const {exercise} = Astro.props;

---

<div class="link-card">
  <div class="my-container">
      <div class="text-xl font-semibold text-black">
        {exercise.name}
      </div>
      <div class="flex items-center"> 
        <img src={exercise.icon} class="w-6 h-6 ml-5" />
        <div class="ml-16 flex flex-col items-center">
          <IconButton aria-label="Example">
              <PlusIcon className="w-6 h-6" />
          </IconButton>
          <IconButton aria-label="Example">
              <EllipsisHorizontalIcon className="w-6 h-6" />
          </IconButton>
        </div>
      </div>
  </div>
</div>