---
import type {Exercises} from "../types/ExerciseType.ts";
import IconButton from '@mui/material/IconButton';
import { PlusIcon, EllipsisHorizontalIcon } from '@heroicons/react/24/solid'

interface Props {
    exercise : Exercises;
}

const {exercise} = Astro.props;

---

<div class="link-card">
    <div class="w-64 flex items-center px-4 py-2 rounded-lg shadow-md ring ring-blue-300 hover:ring-blue-500">
        <div class="text-xl font-semibold text-black">
            {exercise.name}
        </div>
        <img src={exercise.icon} class="w-6 h-6 ml-5" />
        <div class="ml-16 flex flex-col items-center">
            <IconButton aria-label="Example">
              <PlusIcon className="w-6 h-6" />
            </IconButton>
            <IconButton aria-label="Example">
              <EllipsisHorizontalIcon className="w-6 h-6" />
            </IconButton>
          </div>          
    </div>
</div>